<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Vắc xin</a></li>
          <li class="active">Vắc xin Hexaxim (Pháp)</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">VẮC XIN CÚM TỨ GIÁ INFLUVAC TETRA</h2>
          <div>
            <h3 class="product-price">
              356,000 VNĐ
            </h3>
          </div>
          <ul class="product-links">
            <li>Nguồn gốc:</li>
            <li><a href="#">Abbott (Hà Lan)</a></li>
          </ul>

          <ul class="product-links">
            <li>Phòng bệnh:</li>
            <li><a href="#">Cúm</a></li>
          </ul>

          <div class="add-to-cart">
            <button class="add-to-cart-btn">
              <i class="fa fa-shopping-cart"></i>
              Thêm vào giỏ
            </button>
          </div>
        </div>
      </div>
      <!-- /Product details -->

      <!-- Product tab -->
      <div class="col-md-7">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li class="active">
              <a data-toggle="tab" href="#tab1">Mô tả</a>
            </li>
            <li><a data-toggle="tab" href="#tab2">Thông tin</a></li>
          </ul>
          <!-- /product tab nav -->

          <!-- product tab content -->
          <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">

                  <p>Cúm mùa là bệnh truyền nhiễm gieo rắc cái chết hàng triệu
                    người trên thế giới chỉ trong một thời gian ngắn. Thống kê
                    của Tổ chức Y tế Thế giới (WHO) cho thấy, mỗi năm có từ 5 -
                    10% người lớn và 15 - 42% trẻ em trên toàn cầu mắc cúm,
                    trong đó có khoảng 250.000 - 500.000 người tử vong do bệnh.</p>

                  <p><img
                      alt=""
                      height="320"
                      src="https://cdn.e-plus.vn/dc31279f82814c38977b381653f599d9.jpg"
                      width="600"
                    /></p>
                  <p>Ai cũng có nguy cơ mắc bệnh cúm, kể cả người khỏe mạnh. Đặc
                    biệt, bệnh vô cùng nguy hiểm với người già, trẻ em, người
                    mắc bệnh mạn tính, người có hệ miễn dịch suy giảm,… có thể
                    gây biến chứng bội nhiễm, viêm phổi nặng, suy hấp, suy đa
                    tạng dẫn tới tử vong. Các chuyên gia y tế khuyến cáo, tiêm
                    vắc xin cúm hàng năm là biện pháp đơn giản, an toàn và hiệu
                    quả nhất để phòng ngừa bệnh.</p>
                </div>
              </div>
            </div>
            <!-- /tab1  -->

            <!-- tab2  -->
            <div id="tab2" class="tab-pane fade in">
              <div class="row">
                <div class="col-md-12">
                  <p>Vắc xin Influvac Tetra 0.5ml được chỉ định cho trẻ từ 6
                    tháng tuổi trở lên và người lớn.</p>
                  <p><strong>Liều dùng</strong></p>
                  <p>Vắc xin Influvac Tetra 0.5 ml dành cho trẻ từ 6 tháng tuổi
                    đến dưới 9 tuổi chưa tiêm cúm có lịch tiêm 2 mũi:</p>
                  <ul>
                    <li>Mũi 1: lần tiêm đầu tiên.</li>
                    <li>Mũi 2: cách mũi 1 ít nhất 4 tuần và tiêm nhắc hàng năm.</li>
                  </ul>
                  <p>Từ 9 tuổi trở lên: Lịch tiêm 01 mũi duy nhất và nhắc lại
                    hằng năm.</p>
                  <p>Tổ chức Y tế Thế giới (WHO) khuyến cáo chỉ cần tiêm nhắc
                    lại vắc xin cúm hàng năm, luôn cách tối thiểu 12 tháng so
                    với mũi trước.</p>
                  <p><strong>Đường dùng:</strong></p>
                  <ul>
                    <li>Tiêm bắp hoặc tiêm sâu dưới da.</li>
                  </ul>
                  <p><strong>Chống chỉ định:</strong></p>
                  <ul>
                    <li>Mẫn cảm với thành phần vắc xin hoặc bất cứ thành phần
                      nào có thể chỉ là rất nhỏ như trứng (ovalbumin, protein
                      gà), formaldehyde, cetyltrimethylamoni, bromide,
                      polysorbat 80, hoặc gentamicin.</li>
                    <li>Các bệnh nhân có triệu chứng sốt hoặc nhiễm trùng cấp
                      tính sẽ phải hoãn việc tiêm chủng.</li>
                  </ul>
                  <p><strong>Thận trọng:</strong></p>
                  <p><strong>Tương tác:</strong></p>
                  <ul>
                    <li>Influvac tetra có thể được tiêm cùng lúc với các vắc xin
                      khác. Việc tiêm chủng phải được thực hiện trên các chi
                      khác nhau.</li>
                    <li>Miễn dịch có thể giảm nếu bệnh nhân đang điều trị ức chế
                      miễn dịch.</li>
                  </ul>
                  <p><strong>Phản ứng phụ:</strong></p>
                  <ul>
                    <li>Các phản ứng tại chỗ: đỏ, đau, sưng, cứng vị trí tiêm.</li>
                    <li>Các phản ứng toàn thân: sốt, khó chịu, đầu đầu, đổ mồ
                      hôi, chứng đau cơ, đau khớp.</li>
                  </ul>
                  <p><strong>Bảo quản:</strong></p>
                  <ul>
                    <li>Vắc xin Influvac tetra phải được bảo quản tại 2 độ C đến
                      8 độ C</li>
                    <li>Không được đông băng.</li>
                    <li>Bảo quản trong bao bì gốc. Tránh ánh sáng.</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /tab2  -->

          </div>
          <!-- /product tab content  -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3 class="title">Vắc xin liên quan</h3>
        </div>
      </div>

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/img/vacxin/syringe.png" alt="" />
            <div class="product-label">
              <span class="sale">-30%</span>
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00
              <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button
                class="quick-view"
                type="button"
                onclick="window.location.href='/vacxin/chitiet/id'"
              ><i class="fa fa-eye"></i><span class="tooltipp">xem thêm</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
              thêm vào giỏ</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/img/vacxin/syringe.png" alt="" />
            <div class="product-label">
              <span class="sale">-30%</span>
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00
              <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button
                class="quick-view"
                type="button"
                onclick="window.location.href='/vacxin/chitiet/id'"
              ><i class="fa fa-eye"></i><span class="tooltipp">xem thêm</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
              thêm vào giỏ</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <div class="clearfix visible-sm visible-xs"></div>

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/img/vacxin/syringe.png" alt="" />
            <div class="product-label">
              <span class="sale">-30%</span>
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00
              <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button
                class="quick-view"
                type="button"
                onclick="window.location.href='/vacxin/chitiet/id'"
              ><i class="fa fa-eye"></i><span class="tooltipp">xem thêm</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
              thêm vào giỏ</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/img/vacxin/syringe.png" alt="" />
            <div class="product-label">
              <span class="sale">-30%</span>
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00
              <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button
                class="quick-view"
                type="button"
                onclick="window.location.href='/vacxin/chitiet/id'"
              ><i class="fa fa-eye"></i><span class="tooltipp">xem thêm</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
              thêm vào giỏ</button>
          </div>
        </div>
      </div>
      <!-- /product -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->