<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/tintuc">Tin tức</a></li>
          <li class="active">VNVC đồng hành cùng cuộc thi “Ô cửa tiếng Anh” mùa
            2, tiếp lửa đam mê cho thế hệ trẻ</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <h1>VNVC đồng hành cùng cuộc thi “Ô cửa tiếng Anh” mùa 2, tiếp lửa đam mê
        cho thế hệ trẻ</h1>
      <div class="actor_boder row">
        <div class="col-sm-1">
          <img
            class="avatar"
            src="/img/tintuc/tac-gia-truc-thy-150x150.webp"
            alt=""
          />
        </div>
        <div class="col-sm-6">
          <h5>Trúc Thy</h5>
          <span>09:30 14/04/2025</span>
        </div>
      </div>
      <div class="box_detail_post_ads">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div
              style="width: 100%;"
              class="gt-info div_detail_post div_idcat_0"
            >

              <p style="text-align: justify;"><b><i>Hệ thống tiêm chủng VNVC
                    đồng hành cùng Đài Phát thành Truyền hình Hà Tĩnh, Sở Giáo
                    dục và Đào tạo Hà Tĩnh tổ chức cuộc thi “Ô cửa tiếng Anh” –
                    English Windows mùa 2. Cuộc thi là sân chơi tri thức giúp
                    các em học sinh phát huy năng khiếu ngoại ngữ, rèn luyện sự
                    tự tin, sáng tạo và khơi dậy tình yêu với tiếng Anh trước sự
                    “chuyển mình” hội nhập quốc tế mạnh mẽ của đất nước.</i></b></p>
              <p style="text-align: justify;"><i>Cuộc thi “Ô cửa tiếng Anh” mùa
                  2 được phát sóng số đầu tiên vào 21h25 ngày 6/4/2025 và các
                  Chủ nhật hàng tuần trên sóng HTTV và các nền tảng số của Báo
                  Hà Tĩnh.</i></p>
              <p style="text-align: justify;"><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111563"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/vnvc-dong-hanh-cuoc-thi-o-cua-tieng-anh.jpg"
                  alt="vnvc đồng hành cuộc thi ô cửa tiếng anh"
                  width="800"
                  height="419"
                /></p>
              <p style="text-align: justify;">Nghị quyết 59-NQ/TW ngày 24/1/2025
                của Bộ Chính trị về “Hội nhập quốc tế trong tình hình mới” là
                quyết sách mang tính lịch sử, xác định hội nhập quốc tế là động
                lực then chốt đưa Việt Nam vươn lên mạnh mẽ, nâng cao vị thế
                trên trường quốc tế. Để đạt được mục tiêu hội nhập sâu rộng,
                nguồn lực chất lượng cao cùng khả năng học thuật sắc bén và
                ngoại ngữ linh hoạt là yếu tố cốt lõi giúp đất nước tiên phong
                trong các lĩnh vực mới.</p>
              <p style="text-align: justify;">Hưởng ứng tinh thần của Nghị
                quyết,
                <a
                  href="https://vnvc.vn/"
                  target="_blank"
                  rel="noopener"
                >VNVC</a>
                – Hệ thống tiêm chủng An toàn, Uy tín, Chất lượng hàng đầu Việt
                Nam với vai trò và vị thế tiên phong trong các công tác vì cộng
                đồng, đã đồng hành cùng Đài Phát thanh – Truyền hình Hà Tĩnh và
                Sở Giáo dục &amp; Đào tạo Hà Tĩnh tổ chức cuộc thi “Ô cửa tiếng
                Anh” – English Windows mùa 2, tạo ra sân chơi tri thức ý nghĩa,
                nơi thế hệ trẻ có cơ hội vận dụng khả năng ngoại ngữ vào thực
                tiễn, rèn luyện sự tự tin và sẵn sàng hội nhập quốc tế.</p>
              <p style="text-align: justify;">Không chỉ dừng lại ở khía cạnh tri
                thức, VNVC còn đóng góp tích cực trong việc bảo vệ và chăm sóc
                sức khỏe thế hệ trẻ thông qua những món quà ý nghĩa tại chương
                trình. Đặc biệt, VNVC chú trọng trao tặng cơ hội tiêm chủng
                những loại vắc xin quan trọng như vắc xin phòng ngừa HPV – giúp
                bảo vệ các em gái trước các nguy cơ ung thư cổ tử cung, hầu họng
                và hậu môn, hay vắc xin phòng viêm màng não do não mô cầu – bệnh
                lý nguy hiểm có tỷ lệ tử vong cao nếu không phòng ngừa kịp thời.
                Đây là hành động thiết thực để đồng hành cùng gia đình và nhà
                trường trong việc đảm bảo sức khỏe toàn diện cho thế hệ trẻ,
                giúp các em vững bước trên hành trình học tập và phát triển.</p>
              <div class="alert alert-info" role="alert">
                <p>Chương trình “Ô cửa tiếng Anh” mùa 2 quy tụ 32 đội chơi đến
                  từ các trường THCS, trải qua 16 trận vòng loại, 8 trận tứ kết,
                  4 trận bán kết và 1 trận chung kết. Với các phần thi đòi hỏi
                  kỹ năng tương tác tiếng Anh vượt trội, chương trình là cơ hội
                  để học sinh khám phá khả năng cá nhân, rèn luyện tinh thần làm
                  việc nhóm và trau dồi sự tự tin.</p>
                <p>Điểm mới của mùa 2 là 4 phần chơi đa dạng: “Nhanh mắt”, “Tự
                  tin”, “Dành cho khán giả” và “Nhanh tay”. Các phần thi không
                  chỉ giúp học sinh thể hiện năng khiếu, tình yêu ngoại ngữ mà
                  còn kích thích sáng tạo, tạo động lực học tập, lan tỏa phong
                  trào giảng dạy tiếng Anh trong nhà trường. Đặc biệt, phần thi
                  “Tự tin” gây ấn tượng với màn thuyết trình bằng tiếng Anh, nơi
                  học sinh bộc lộ bản lĩnh, ý tưởng sáng tạo và phong thái cuốn
                  hút trên sân khấu.</p>
                <p>→ Theo dõi chương trình thông qua:</p>
                <ul>
                  <li>Kênh Youtube<a
                      href="https://www.youtube.com/c/Truy%E1%BB%81nH%C3%ACnhH%C3%A0T%C4%A9nhvn/playlists"
                      target="_blank"
                      rel="nofollow noreferrer noopener"
                    > Truyền Hình Hà Tĩnh</a>;</li>
                  <li>Fanpage
                    <a
                      href="http://facebook.com/hatinhtv.vnn"
                      target="_blank"
                      rel="nofollow noreferrer noopener"
                    >Truyền Hình Hà Tĩnh</a>;</li>
                  <li>Website
                    <a
                      href="https://hatinhtv.vn/"
                      target="_blank"
                      rel="nofollow noreferrer noopener"
                    >Truyền Hình Hà Tĩnh</a>;</li>
                  <li>Các nền tảng số của
                    <a
                      href="https://baohatinh.vn/"
                      target="_blank"
                      rel="nofollow noreferrer noopener"
                    >Báo Hà Tĩnh</a>…</li>
                </ul>
              </div>
              <figure
                id="attachment_111555"
                aria-describedby="caption-attachment-111555"
                style="width: 800px"
                class="wp-caption aligncenter"
              ><img
                  loading="lazy"
                  decoding="async"
                  class="size-full wp-image-111555"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/chuong-trinh-o-cua-tieng-anh.jpg"
                  alt="chương trình ô cửa tiếng anh"
                  width="800"
                  height="534"
                /><figcaption
                  id="caption-attachment-111555"
                  class="wp-caption-text"
                >VNVC đồng hành cùng chương trình “Ô cửa tiếng Anh” góp phần
                  nâng cao vai trò của giáo dục, khuyến khích các em học sinh
                  trau dồi kiến thức, kỹ năng để tự tin bước ra thế giới.</figcaption></figure>
              <p style="text-align: justify;">Bên cạnh cuộc thi “Ô cửa tiếng
                Anh”, VNVC đã và đang liên tục đẩy mạnh các hoạt động giáo dục,
                tư vấn sức khỏe và thực hiện trách nhiệm cộng đồng. VNVC đã chủ
                trì tổ chức và đồng hành cùng rất nhiều chương trình, cuộc thi,
                hội thảo, hội chợ việc làm…, hợp tác với các tổ chức y tế, tổ
                chức giáo dục hàng đầu trong và ngoài nước để kiến tạo nên các
                sân chơi ý nghĩa cho trẻ em, học sinh và sinh viên các cấp trên
                toàn quốc. Những hoạt động này giúp thế hệ trẻ phát huy năng
                lực, cống hiến tài năng, góp phần xây dựng một Việt Nam sẵn sàng
                hội nhập, vươn mình và phát triển.</p>
              <p style="text-align: justify;">VNVC cũng tích cực tổ chức các
                chương trình tư vấn sức khỏe trên đa kênh như truyền hình, báo
                chí, mạng xã hội, tiếp cận hàng chục triệu người dân. Các tọa
                đàm và giao lưu trực tuyến với chuyên gia y tế cung cấp thông
                tin chính thống về vắc xin và tiêm chủng. Đặc biệt, VNVC thường
                xuyên tổ chức các lớp tư vấn sức khỏe cho học sinh tại trường
                học, trung tâm anh ngữ, cùng những chương trình thiết thực như
                đo huyết áp miễn phí cho cộng đồng.</p>
              <p style="text-align: justify;">Không dừng lại ở y tế, VNVC còn
                lan tỏa trách nhiệm xã hội qua hàng loạt chiến dịch thiện
                nguyện: tặng hàng chục triệu liều vắc xin miễn phí, hỗ trợ thiết
                bị y tế, kit test Covid-19, tài trợ khám sức khỏe cho bệnh nhân
                chất độc màu da cam, ủng hộ đồng bào miền Trung lũ lụt, tặng xe
                đạp cho học sinh nghèo, xây dựng Quỹ “Ngày mai tươi sáng” và
                “Cơm có thịt”… Với tinh thần cống hiến và sẻ chia, VNVC không
                ngừng khẳng định sứ mệnh vì cộng đồng, góp phần xây dựng một
                tương lai khỏe mạnh, nhân văn và bền vững cho đất nước.</p>
              <p style="text-align: center;"><b>Một số hình ảnh nổi bật tại buổi
                  ghi hình gameshow Ô cửa tiếng Anh:</b></p>
              <p><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111556"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/hinh-anh-cuoc-thi-o-cua-tieng-anh-01.jpg"
                  alt="hình ảnh cuộc thi ô cửa tiếng anh 01"
                  width="800"
                  height="564"
                /></p>
              <p><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111557"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/hinh-anh-cuoc-thi-o-cua-tieng-anh-02.jpg"
                  alt="hình ảnh cuộc thi ô cửa tiếng anh 02"
                  width="800"
                  height="532"
                /></p>
              <p><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111558"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/hinh-anh-cuoc-thi-o-cua-tieng-anh-03.jpg"
                  alt="hình ảnh cuộc thi ô cửa tiếng anh 03"
                  width="800"
                  height="531"
                /></p>
              <p><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111559"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/hinh-anh-cuoc-thi-o-cua-tieng-anh-04.jpg"
                  alt="hình ảnh cuộc thi ô cửa tiếng anh 04"
                  width="800"
                  height="489"
                /></p>
              <p><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111560"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/hinh-anh-cuoc-thi-o-cua-tieng-anh-05.jpg"
                  alt="hình ảnh cuộc thi ô cửa tiếng anh 05"
                  width="800"
                  height="471"
                /></p>
              <p><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111561"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/hinh-anh-cuoc-thi-o-cua-tieng-anh-06.jpg"
                  alt="hình ảnh cuộc thi ô cửa tiếng anh 06"
                  width="800"
                  height="494"
                /></p>
              <p><img
                  loading="lazy"
                  decoding="async"
                  class="aligncenter size-full wp-image-111562"
                  src="https://vnvc.vn/wp-content/uploads/2025/04/hinh-anh-cuoc-thi-o-cua-tieng-anh-07.jpg"
                  alt="hình ảnh cuộc thi ô cửa tiếng anh 07"
                  width="800"
                  height="423"
                /></p>
              <p style="text-align: justify;">Để được tư vấn các thông tin vắc
                xin cho trẻ em và người lớn hoặc đặt mua vắc xin, Quý khách vui
                lòng liên hệ VNVC theo thông tin sau:</p>
              <ul style="text-align: justify;">
                <li>Hotline: 028 7102 6595;</li>
                <li>Fanpage:<a
                    href="https://www.facebook.com/trungtamtiemchungvnvc"
                    target="_blank"
                    rel="nofollow noreferrer noopener"
                  > VNVC – Trung tâm Tiêm chủng Trẻ em và Người lớn</a>;</li>
                <li>Tra cứu trung tâm tiêm chủng VNVC gần nhất
                  <a href="https://vnvc.vn/he-thong-trung-tam-tiem-chung/">Tại
                    đây</a>;</li>
                <li>Để đặt mua vắc xin và tham khảo các sản phẩm vắc xin, Quý
                  khách vui lòng truy cập:
                  <a
                    href="https://vax.vnvc.vn/vaccine"
                    rel="nofollow noreferrer noopener"
                    target="_blank"
                  >vax.vnvc.vn</a>.</li>
                <li>Xem thêm những thông tin tiêm chủng hữu ích từ kênh
                  <a
                    href="https://www.tiktok.com/@vnvc.vn"
                    rel="nofollow noreferrer noopener"
                    target="_blank"
                  >Tik Tok Bác sĩ Tiêm chủng VNVC</a></li>
              </ul>

                <script>
                  jQuery(document).ready(function ($) { var title = 'VNVC đồng
                  hành cùng cuộc thi “Ô cửa tiếng Anh” mùa 2, tiếp lửa đam mê
                  cho thế hệ trẻ'; $('.div_detail_post img').each(function () {
                  var $img = $(this); var alt = $img.attr("alt"); if (typeof alt
                  == typeof undefined || alt == false) { $img.attr("alt",
                  title); } }); });
                </script>
              </p><div
                class="bg_xam pt_10 pb_10 pl_15 pr_15 mb_10 noleft_mb noright_mb box_detail_post"
              >
                <div class="row">
                  <div class="col-xs-6 col-sm-6 pt_5"><i
                      class="fa fa-calendar div_inline mr_5 ml_15"
                      aria-hidden="true"
                    ></i>
                    <span class="hidden-xs">Cập nhật lần cuối:</span>
                    02:56 14/04/2025</div>
                  
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->