<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/extesion_user/img/banner1.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Tin tức<br />Hôm nay</h3>
            <a href="#" class="cta-btn">Xem ngay
              <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/extesion_user/img/banner2.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Vắc xin <br />nổi bật</h3>
            <a href="#VacXinNoiBat" class="cta-btn">Xem ngay
              <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/extesion_user/img/banner3.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Giá vắc xin<br />mới</h3>
            <a href="#" class="cta-btn">Xem ngay
              <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">HOẠT ĐỘNG NỔI BẬT</h3>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/tintuc/anh-hung-cach-mang-tiem-vac-xin-cum.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Hàng nghìn Anh hùng Cách mạng tiêm vắc xin cúm miễn phí tại VNVC</a></h3>
                  </div>
                  <div class="add-to-cart">
                    <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                      xem thêm</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/tintuc/cac-chien-si-tai-truong-sa.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">VNVC tặng 1 tỷ đồng chăm sóc y tế cho Trường Sa</a></h3>
                  </div>
                  <div class="add-to-cart">
                    <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                      xem thêm</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/tintuc/tu-van-kien-thuc-suc-khoe-cho-sinh-vien.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">VNVC tư vấn kiến thức chăm sóc sức khỏe cho sinh viên trường Đại học Khoa học Xã hội và Nhân văn</a></h3>
                  </div>
                  <div class="add-to-cart">
                    <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                      xem thêm</button>
                  </div>
                </div>
                <!-- /product -->
                
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/tintuc/vnvc-lam-viec-xuyen-le.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">VNVC làm việc xuyên lễ Giỗ Tổ Hùng Vương, 30/4 và 1/5</a></h3>
                  </div>
                  <div class="add-to-cart">
                    <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                      xem thêm</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/tintuc/hoc-sinh-truong-anh-ngu-tai-vnvc-quy-nhon.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Trải nghiệm thực tế của hàng trăm học sinh Anh ngữ Ocean Edu tại VNVC Quy Nhơn</a></h3>
                  </div>
                  <div class="add-to-cart">
                    <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                      xem thêm</button>
                  </div>
                </div>
                <!-- /product -->
              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

{{!-- <!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Collection Up to 50% OFF</p>
          <a class="primary-btn cta-btn" href="#">Shop now</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION --> --}}

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 id="VacXinNoiBat" class="title">DANH MỤC VẮC XIN TẠI VNVC</h3>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab2" class="tab-pane fade in active">
              <div class="products-slick" data-nav="#slick-nav-2">
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/vacxin/syringe.png" alt="" />
                    <div class="product-label">
                      <span class="sale">-30%</span>
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                          class="tooltipp"
                        >xem thêm</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i
                        class="fa fa-shopping-cart"
                      ></i>
                      thêm vào giỏ</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/vacxin/syringe.png" alt="" />
                    <div class="product-label">
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <div class="product-btns">
                      <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                          class="tooltipp"
                        >xem thêm</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i
                        class="fa fa-shopping-cart"
                      ></i>
                      thêm vào giỏ</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/vacxin/syringe.png" alt="" />
                    <div class="product-label">
                      <span class="sale">-30%</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                    </div>
                    <div class="product-btns">
                      <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                          class="tooltipp"
                        >xem thêm</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i
                        class="fa fa-shopping-cart"
                      ></i>
                      thêm vào giỏ</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/vacxin/syringe.png" alt="" />
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                          class="tooltipp"
                        >xem thêm</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i
                        class="fa fa-shopping-cart"
                      ></i>
                      thêm vào giỏ</button>
                  </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img src="/img/vacxin/syringe.png" alt="" />
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del></h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                          class="tooltipp"
                        >xem thêm</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i
                        class="fa fa-shopping-cart"
                      ></i>
                      thêm vào giỏ</button>
                  </div>
                </div>
                <!-- /product -->
              </div>
              <div id="slick-nav-2" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- /Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->


<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Liên hệ hỗ trợ <strong>TIÊM CHỦNG</strong></p>
          <form>
            <input class="input" type="email" placeholder="Nhập email của bạn" />
            <button class="newsletter-btn"><i class="fa fa-envelope"></i>
              Gửi</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->