<h1 class="text-uppercase text-center mt-4 mb-5">TIN TỨC</h1>
<div class="container">
  <div class="news_main mb_30">
    <div class="box_border">
      <div class="row div_flex">
        <div class="col-sm-6 col-xs-12 item noright">
          <a class="thumb_post" href="https://vnvc.vn/luu-y-khi-tiem-vac-xin-phe-cau-cho-phu-nu-chuan-bi-mang-thai/">
            <img class="img-responsive" src="https://vnvc.vn/wp-content/uploads/2025/04/ban-nu-tiem-vac-xin-phe-cau.jpg"
              width="800" alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
          </a>
        </div>
        <div class="col-sm-6 col-xs-12 item noleft">
          <div class="pl_15 pr_15">
            <a class="title_post" title="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai"
              href="https://vnvc.vn/luu-y-khi-tiem-vac-xin-phe-cau-cho-phu-nu-chuan-bi-mang-thai/">
              <h2 class="mt_10 mb_15 sz_18 cl_33">Những lưu ý quan trọng khi
                tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai</h2>
            </a>
            <div class="mb_10 mb_5mb small">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              23/04/2025
            </div>
            <p class="text-justify">Tiêm vắc xin phế cầu trước khi mang thai là
              giải pháp hiệu quả nhất để bảo vệ sức khỏe thai phụ và sự phát
              triển của thai nhi trước các bệnh lý nguy hiểm do phế cầu gây ra
              như viêm phổi, viêm màng não, nhiễm trùng máu… Phế cầu khuẩn là
              nguyên nhân...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row div_flex top">
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/cang-nhieu-benh-nen-nguy-co-mac-zona-than-kinh-cang-cao/">
          <img class="img-responsive mb_15"
            src="https://vnvc.vn/wp-content/uploads/2025/04/zona-than-kinh-o-nguoi-co-benh-nen.jpg" width="800"
            alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Càng nhiều bệnh nền, nguy cơ mắc zona thần kinh càng cao"
            href="https://vnvc.vn/cang-nhieu-benh-nen-nguy-co-mac-zona-than-kinh-cang-cao/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Càng nhiều bệnh nền, nguy
              cơ mắc zona thần kinh càng cao</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            14/04/2025
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/ganh-no-hang-chuc-trieu-dong-sau-dieu-tri-uon-van/">
          <img class="img-responsive mb_15"
            src="https://vnvc.vn/wp-content/uploads/2025/04/nguoi-dang-dieu-tri-uon-van.jpg" width="800"
            alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Gánh nợ hàng chục triệu đồng sau điều trị uốn ván"
            href="https://vnvc.vn/ganh-no-hang-chuc-trieu-dong-sau-dieu-tri-uon-van/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Gánh nợ hàng chục triệu
              đồng sau điều trị uốn ván</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            14/04/2025
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/nhung-hieu-lam-thuong-gap-ve-phe-cau-o-phu-nu-mang-thai/">
          <img class="img-responsive mb_15" src="https://vnvc.vn/wp-content/uploads/2025/04/phu-nu-mang-thai.jpg"
            width="800" alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Những hiểu lầm thường gặp về phế cầu ở phụ nữ mang thai"
            href="https://vnvc.vn/nhung-hieu-lam-thuong-gap-ve-phe-cau-o-phu-nu-mang-thai/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Những hiểu lầm thường gặp
              về phế cầu ở phụ nữ mang thai</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            08/04/2025
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row div_flex top">
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/vi-sao-nguoi-bi-cho-can-tu-vong-khi-phat-benh-dai/">
          <img class="img-responsive mb_15" src="https://vnvc.vn/wp-content/uploads/2025/04/cho-mac-benh-dai.jpg"
            width="800" alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Vì sao 100% người bị chó cắn tử vong khi phát bệnh dại?"
            href="https://vnvc.vn/vi-sao-nguoi-bi-cho-can-tu-vong-khi-phat-benh-dai/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Vì sao 100% người bị chó
              cắn tử vong khi phát bệnh dại?</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            03/04/2025
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/vi-sao-bi-cho-can-nhieu-nam-sau-moi-phat-dai/">
          <img class="img-responsive mb_15"
            src="https://vnvc.vn/wp-content/uploads/2025/04/bi-cho-can-nhieu-nam-sau-moi-phat-dai.jpg" width="800"
            alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Vì sao bị chó cắn nhiều năm sau mới phát dại?"
            href="https://vnvc.vn/vi-sao-bi-cho-can-nhieu-nam-sau-moi-phat-dai/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Vì sao bị chó cắn nhiều
              năm sau mới phát dại?</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            03/04/2025
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/lich-tiem-vac-xin-soi-cho-tre-tu-6-thang-tuoi/">
          <img class="img-responsive mb_15"
            src="https://vnvc.vn/wp-content/uploads/2025/03/lich-tiem-soi-cho-tre-tu-6-thang.jpg" width="800"
            alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Lịch tiêm vắc xin sởi cho trẻ từ 6 tháng tuổi"
            href="https://vnvc.vn/lich-tiem-vac-xin-soi-cho-tre-tu-6-thang-tuoi/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Lịch tiêm vắc xin sởi cho
              trẻ từ 6 tháng tuổi</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            29/03/2025
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row div_flex top">
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/da-tiem-vac-xin-nao-mo-cau-b-thi-co-tiem-nao-mo-cau-bc-khong/">
          <img class="img-responsive mb_15"
            src="https://vnvc.vn/wp-content/uploads/2025/03/tiem-vac-xin-nao-mo-cau-cho-tre.jpg" width="800"
            alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Đã tiêm vắc xin não mô cầu B thì có tiêm não mô cầu BC không?"
            href="https://vnvc.vn/da-tiem-vac-xin-nao-mo-cau-b-thi-co-tiem-nao-mo-cau-bc-khong/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Đã tiêm vắc xin não mô
              cầu B thì có tiêm não mô cầu BC không?</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            27/03/2025
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item" href="https://vnvc.vn/phat-hien-o-dich-nao-mo-cau-tai-thai-binh/">
          <img class="img-responsive mb_15" src="https://vnvc.vn/wp-content/uploads/2025/03/virus-nao-mo-cau.jpg"
            width="800" alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Phát hiện ổ dịch não mô cầu tại Thái Bình, khẩn trương tiêm phòng"
            href="https://vnvc.vn/phat-hien-o-dich-nao-mo-cau-tai-thai-binh/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Phát hiện ổ dịch não mô
              cầu tại Thái Bình, khẩn trương tiêm phòng</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            26/03/2025
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 mb_15 item">
      <div class="row div_flex_mobile top mb_5mb">
        <a class="thumb_post col-sm-12 col-xs-6 item"
          href="https://vnvc.vn/dich-soi-co-nguy-co-bung-phat-can-tang-ty-le-tiem-chung/">
          <img class="img-responsive mb_15"
            src="https://vnvc.vn/wp-content/uploads/2025/03/tiem-vac-xin-soi-cho-tre.jpg" width="800"
            alt="Những lưu ý quan trọng khi tiêm vắc xin Phế cầu cho phụ nữ chuẩn bị mang thai" />
        </a>
        <div class="col-sm-12 col-xs-6 item noleft_mb text-justify">
          <a class="title_post" title="Dịch sởi có nguy cơ bùng phát, cần tăng tỷ lệ tiêm chủng đạt 95%"
            href="https://vnvc.vn/dich-soi-co-nguy-co-bung-phat-can-tang-ty-le-tiem-chung/">
            <h2 class="mtr_5 mb_15 mb_5mb sz_16 cl_33">Dịch sởi có nguy cơ bùng
              phát, cần tăng tỷ lệ tiêm chủng đạt 95%</h2>
          </a>
          <div class="mb_10 mb_5mb small">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            20/03/2025
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
  </div>
</div>