<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Về chúng tôi</h3>
            <p>HỆ THỐNG TRUNG TÂM TIÊM CHỦNG VẮC XIN CHO TRẺ EM & NGƯỜI LỚN
an toàn - uy tín - chất lượng hàng đầu việt nam *</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Trà Vinh</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
              <li><a href="#"><i
                    class="fa fa-envelope-o"
                  ></i>email@email.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Hệ thống Miền Bắc</h3>
            <ul class="footer-links">
              <li><a href="#">Bắc Giang</a></li>
              <li><a href="#">Điện Biên</a></li>
              <li><a href="#">Hà Nam</a></li>
              <li><a href="#">Hoà Bình</a></li>
              <li><a href="#">Lạng Sơn</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Hệ thống Miền Trung</h3>
            <ul class="footer-links">
              <li><a href="#">Bình Định</a></li>
              <li><a href="#">Đà Nẵng</a></li>
              <li><a href="#">Gia Lai</a></li>
              <li><a href="#">Nghệ An</a></li>
              <li><a href="#">Quảng Nam</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Hệ thống Miền Nam</h3>
            <ul class="footer-links">
              <li><a href="#">An Giang</a></li>
              <li><a href="#">Bạc Liêu</a></li>
              <li><a href="#">Bình Dương</a></li>
              <li><a href="#">Bến Tre</a></li>
              <li><a href="#">Trà Vinh</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
          <span class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            by
            <a href="https://www.facebook.com/namphong.lam.12/" target="_blank">LHT</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>